<form class="form-group" method="POST">
  <label for="">Search</label>
  <input
    type="text"
    name="query"
    id=""
    class="form-control"
    placeholder="Nhập từ khóa"
    aria-describedby="helpId"
  />
  <input
    type="text"
    name="fullname"
    id=""
    class="form-control"
    placeholder=""
    aria-describedby="helpId"
  />
  <input
    type="text"
    name="age"
    id=""
    class="form-control"
    placeholder=""
    aria-describedby="helpId"
  />
  <button
    type="submit"
    class="btn btn-primary"
    style="margin-top: 10px;"
  >Search</button>
</form>